// 页面初始化

$margin:0;
$padding:0;
$width:100%;
$height:100%;

*{
    margin: $margin;
    padding: $padding;
    list-style: none;
    text-decoration: none;
}

.clear{
    clear: both;
}

html,body{
    width: $width;
    // height: $height;
    font-size: 100px;
    @media screen and (min-width:360px){
        font-size: 112.5px;
    }
    
    @media screen and (min-width:375px){
        font-size: 117px;
    }
    
    @media screen and (min-width:414px){
        font-size: 129px;
    }
}

// warp
$bgcolor:white;
.wrap{
    width: $width;
    // height: $height;
    font-size: 0.16rem;
    background: #f4f4f4;

    .top{
        width: $width;
        height: 0.475rem;
        background: #3698d9;
        text-align: center;
        line-height: 0.475rem;
        position: fixed;
        left: 0;
        top: 0;
        h4{
            color: white;
            font-weight: normal;
        }
    }
    .main{
        // width: $width;
        box-sizing: border-box;
        padding-bottom: 0.6rem;
        background: white;
        margin-top: 0.475rem;
        ul{
            display: flex;
            flex-wrap: wrap;
            background: white;
            li{
                width: 1.525rem;
                height: 0.945rem;
                flex: 1;
                min-width: 47%;
                max-width: 47%;
                box-sizing: border-box;
                margin:0.06rem 0 0.06rem 0.06rem;
                a{
                    width: $width;
                    height: $height;
                    display: inline-block;
                    img{
                        width: $width;
                        height: $height;
                    }
                }
            }
        }
    }
    .footer{
        width: $width;
        position: fixed;
        bottom: 0;
        left: 0;
        background: $bgcolor;
        ul{
            display: flex;
            li{
               flex: 1;
                text-align: center;
                a{
                    display: inline-block;
                    color: black;
                    img{
                        width: 0.2rem;
                        height: 0.2rem;
                    }
                    span{
                        display:block;
                        font-size: 0.12rem;
                    }
                }
            }
        }
    }
}