// 页面初始化

$margin:0;
$padding:0;
$width:100%;
$height:100%;

*{
    margin: $margin;
    padding: $padding;
    list-style: none;
    text-decoration: none;
}

.clear{
    clear: both;
}

html,body{
    width: $width;
    // height: $height;
    font-size: 100px;
    @media screen and (min-width:360px){
        font-size: 112.5px;
    }
    
    @media screen and (min-width:375px){
        font-size: 117px;
    }
    
    @media screen and (min-width:414px){
        font-size: 129px;
    }
}

// warp
$bgcolor:white;
.wrap{
    width: $width;
    // height: $height;
    font-size: 0.16rem;
    // background: #f4f4f4;
    .top{
        width: $width;
        height: 0.475rem;
        background: #3698d9;
        text-align: center;
        line-height: 0.475rem;
        position: fixed;
        left: 0;
        top: 0;
        h4{
            color: white;
            font-weight: normal;
        }
    }

    .main{
        width: $width;
        height: $height;
        position: relative;
        margin-top: 0.475rem;
        .zxlm{
            text-align: center;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // margin-left: -0.38rem;
            position: fixed;
            left: 50%;
            margin-left: -0.38rem;
            top: 50%;
            margin-top: -0.5rem;
            img{
                width: 0.76rem;
                height: 0.76rem;
            }
            p{
                font-size: 0.12rem;
                color: #999999;
            }
        }
    }

    .footer{
        width: $width;
        position: fixed;
        bottom: 0;
        left: 0;
        background: $bgcolor;
        ul{
            display: flex;
            li{
               flex: 1;
                text-align: center;
                a{
                    display: inline-block;
                    color: black;
                    img{
                        width: 0.2rem;
                        height: 0.2rem;
                    }
                    span{
                        display:block;
                        font-size: 0.12rem;
                    }
                }
            }
        }
    }
}